@import "../natural.layout.scss";

#primary-layout {
  header {
    display: flex;
    flex-direction: row;
    .left {
      height: 40px;
      .logo {
        height: 40px;
      }
    }
    .right {
      display: flex;
      flex-direction: row;
      align-items: center;

      .display-name {
        margin-right: 12px;
        color: var(--text-1-op);
      }
      .avatar {
        height: 40px;
        width: 40px;
        border-radius: 100px;
      }
    }
  }
  main {
    max-height: calc(100vh - 64px);
    padding: 0;
  }
}
